.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;

  width: 100%;
  border-bottom: 1px solid lightgray;
}

.toolbar > ul {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar > ul > li {
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.toolbar > ul > li > a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
